@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
  --color-background: #313131;
  --color-text: #dbdbdb;
  --color-underline: #3968be;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-background);
}

p, h1, h2, h3, h4, h5, h6, select, option {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: var(--color-text);
}

select, option {
  font-size: 1.5rem;
}

select {
  background-color: var(--color-background);
  border: none;

  border-bottom: 3px solid var(--color-underline);
}

option {
  border: none;
}